<footer class="row-is-full text-align-center bo2">
        {{!-- <div class="row-is-full text-align-center"> --}}
           <p>Created 2022 by Kais, Joel and Stephen</p>
           
        {{!-- </div> --}}
        </footer>