        </style>
        <div class="card mb-3">
            <div class="row g-0 d-flex align-items-center">
                <div class="col-lg-4 d-none d-lg-flex">
                    <img src="../images/qatar-2022-logo.png" alt="Logo"
                        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
                <div class="col-lg-8">
                    <div class="card-body py-5 px-md-5">

                        <form id="dreamteam-form">
                            <!-- GK input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Gk">Goalkeeper</label>
                                <input type="text" id="Gk" class="form-control" />

                            </div>

                              <!-- Lb -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Lb">Left Back</label>
                                <input type="text" id="Lb" class="form-control" />
                            </div>

                            <!-- Cb1 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cb1">Centre Back</label>
                                <input type="text" id="Cb1" class="form-control" />
                            </div>

                            <!-- Cb2 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cb2">Centre Back</label>
                                <input type="text" id="Cb2" class="form-control" />
                            </div>

                            <!-- Rb -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Rb">Right Back</label>
                                <input type="text" id="Rb" class="form-control" />
                            </div>

                            <!-- Rw -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Rw">Right Wing</label>
                                <input type="text" id="Rw" class="form-control" />
                            </div>

                            <!-- Cm1 input -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cm1">Centre Midfield</label>
                                <input type="text" id="Cm1" class="form-control" />
                            </div>

                              <!-- Cm2 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Cm2">Centre Midfield</label>
                                <input type="text" id="Cm2" class="form-control" />
                            </div>

                            <!-- Lw -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Lw">Left Wing</label>
                                <input type="text" id="Lw" class="form-control" />
                            </div>

                            <!-- St1 -->
                            <div class="form-outline mb-4">
                                 <label class="form-label" for="St1">Striker</label>
                                <input type="text" id="St1" class="form-control" />
                            </div>

                              <!-- St2 -->
                            <div class="form-outline mb-4">
                                <label class="form-label" for="Rb">Striker</label>
                                <input type="text" id="St2" class="form-control" />
                            </div>


                            <!-- Submit button -->
                            <button type="submit" class="btn btn-primary btn-block mb-4">Create</button>
                           
                        </form>
                            
                    </div>
                </div>
            </div>
        </div>
    </section>

<div class="card">
  {{#each dreamteam as |team|}}
  <a class="card" href="/dreamteam/{{team.id}}" >
    <h5 class="card-header">Team {{team.id}}</h5>
  </a>
  {{/each}}
</div>

    <script src="/javascript/dreamteam.js"></script>