            <div class="row g-0 d-flex">
                <div class="col-lg-4 d-none d-lg-flex ">
                    <img src="../images/qatar-2022-logo.png" alt="Logo"
                        class="w-100 rounded-t-5 rounded-tr-lg-0 rounded-bl-lg-5" />
                </div>
            <div>
                <h2>Hello {{username}}!</h2>
                <br>
                <h3>Here you can:</h3>

                <ul>
                    <li>Change Password</li>
                    <li>Change Username</li>
                    <li>Change Email</li>
                </ul>
            </div>