#nav-bar {
    background-color: #790628;
}

.latest-news-ribbon{
    width: 100%;
    margin: 0px;
    padding: 0px;
}


.news{
    background-color: #790628;
}

.news-scroll{
    background-color: #e6e1e0;
    margin: 0px;
    padding: 0px;
}

.breaking-news{
    background-color: #e6e1e0;
    margin: 0px;
    padding: 0px;
    text-align: center;
    width: 100%;
}
.flag{
max-width: 25px;
max-height: 25px;
}

.flag-bio{
    max-width: 300px;
    max-height: 300px;
    padding-bottom: 1%;
}